{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "printWidth": 100,
  "singleQuote": true,

  "importOrder": ["^react", "^[a-zA-Z]", "^@", "^../(?!.*scss)", "^./(?!.*scss)", ".module.scss"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
