.resize-container {
  pointer-events: bounding-box;

  cursor: nwse-resize;
  fill: transparent;

  &-nwse {
    cursor: nwse-resize;
  }

  &-nesw {
    cursor: nesw-resize;
  }
}

.resize-handler {
  fill: transparent;
  stroke: white;
  stroke-width: 1px;
}
